@charset "utf-8";
/* CSS Document */
#top{
	margin:0px auto 20px auto;
	padding:0px;
	width:900px;
	}
#main{
	margin:0px auto 20px auto;
	padding:0px;
	width:900px;
	}
#footer{
	margin:0px auto 20px auto;
	padding:0px;
	width:900px;}