@charset "gb2312";
/* CSS Document */
body{
	padding:0px;
	margin:0px;
	font-family:"微软雅黑";
	}
.tables{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #888888;
	text-align: center;
}
.divs{
	width:1000px;
	margin:auto;
	padding:50px; 
}