@charset "gb2312";
/* CSS Document */
#header1{
	background-color:#EDEDED;
	border-bottom:1px #BCBCBC solid;     /*头部第一层整体设定*/
	font-size:12px;
	color:#333333;
	}
#header1 a{
	text-decoration:none;               /*头部第一层中超链接的设定*/
	color:#333333;                          
	}
#header2 a{
	color:#373737;
	text-decoration:none;
	}
#header2,#header1 a:hover{
	color:#F00;
	}
#header1 .dengluyanse a{
	color:#F40;
	}
	#header1 .dengluyanse a:hover{
	color:#F00;
	}
#header1_tab1{
	background-color:#EDEDED;
	height:30px;                       /*头部第一层表格设定*/
	margin:0px auto;
	padding:0px;
	}
#header2{
	margin:auto;
	width:960px;                 /*头部第二层整体设定*/
	height:86px;
	font-size:12px;
	color:#888888;
	}
#header2 a{
	text-decoration:none;        /*头部第二层中超链接的设定*/
	color:#888888;
	}		
.header2_tab1_td2{
	vertical-align:bottom;         /*头部第二层第一表格第二单元格内容竖直从下对其*/   
	}		
#header2_tab2{
	border:#dddddd 1px solid;      /*头部第二层第二表格设定*/
	}		
.nianzhongqing{
	border:0px;                    /*对文本框表单设定*/
	}
.button{
	background-color:#dddddd;       /*对按钮设定*/
	}		
#header3{
	background-color:#373737;
	width:960px;                   /*第三层整体设定*/
	height:40px;
	margin:auto;
	font-size:15px;
    }
#header3 a,#header3 img{
	color:#FFF;
	padding:0px 7px;               /*对第三层中的超链接和图片设定*/
	text-decoration:none;
	}
#header3_d1{
	margin-top:0px;
	padding:0px;                     /*第三层嵌套的div1设定*/
	height:40px;
	float:left;
	width:640px;
	color:#F00;
	}
#header3_d2{
	margin:0px;
	padding:0px;                      /*第三层嵌套的div2设定*/
	height:40px;
	float:right;
	}		
#header3_tab1{
	background-color:#FFF;
	height:23px;
	margin-bottom:8px;                 /*第三层表格1设定*/
	margin-top:9px;
	margin-right:13px;
	font-size:14px;
	color:#373737;
	}			
#header4{
	background-color:#efefef;
	width:960px;                      /*第四层整体设定*/
	height:33px;
	margin:auto;
	font-size:12px;
	color:#373737;
	line-height:35px;
	}	
	